*
{
    margin: 0;    
    padding: 0;
}
body 
{
    background: #118c63;
    background: -webkit-linear-gradient(25deg, #1ba275, #16b983, #1eb381, #118c63);
    background: linear-gradient(25deg, #1ba275, #16b983, #1eb381, #118c63);
    /* background-attachment: fixed; */
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


.poppins-bold
{
    font-family: 'Poppins', sans-serif;
    font-weight: 900 !important;
}
/* input[type=text], textarea 
{
    text-transform: uppercase;
} */
.poppins-light
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300 !important;
}
.poppins
{
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif;
}
.side-nav
{
    height: 100vh;
    /* background: #0b325e; */
    /* background:#535353; */
    background: -webkit-linear-gradient(157deg,#ffffff, #ffffff);
    background: linear-gradient(157deg,#ffffff, #ffffff);
    width: 270px;
    border-right: 2px #7f7f7f solid;
    position: fixed;
    z-index: 2;
    left: 0%;
    overflow-y: auto;
    padding-bottom: 20px;
}
.nav-bar
{
    width: 100%;
    padding: 5px;    
    box-shadow: 0 0 19px 0px rgba(0, 0, 0, 0.25);
    /* background: #535353; */
    border-bottom: 2px solid #7f7f7f;
    background: #fff;
    position: fixed;
    z-index: 1;
    padding-left: 275px;
}
.main-app
{
    padding-left: 280px;
    width: 100%;    
    padding-right: 10px;
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 10px;
}
.d-inline-grid
{
    display: inline-grid;
}
.input-group-text 
{
    font-family: 'Poppins', sans-serif;
    color: #969696;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #969696;
}
.form-control 
{
    font-family: 'Poppins';
    font-weight: 300;
    border: 1px solid #969696;
}    
select.form-control>option {
    font-weight: 500 !important;
}
.el-select>.el-input {
    display: block;
    font-family: 'poppins';
}
.el-select-dropdown .el-select-dropdown__list {
    padding: 0;
    font-family: 'Poppins';
    font-weight: 300;
}
.input-group>.form-control::placeholder
{
    color: #969696;
}    
.el-input__inner
{
    border: 1px solid #969696 !important;
}
.no-underline
{
    text-decoration: none !important;
}

.custom-control-label::before 
{
    transition: .5s ease;
}
.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
.dropdown-toggle::after
{
    display: none;
}
button.el-button 
{
    outline: none !important;
}
.el-pagination, .el-pagination > span
{
    font-weight: 500 !important;
}
.el-input__inner
{
    height: 37px !important;
}

.switch {
    font-size: 1rem;
    position: relative;
}

.switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}

.switch input+label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}

.switch input+label::before,
.switch input+label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}

.switch input+label::before {
    right: 0;
    background-color: #f56c6c;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
}

.switch input+label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
}

.switch input:checked+label::before {
    background-color: #7ee24c;
}

.switch input:checked+label::after {
    margin-left: calc(2.375rem * .8);
}

.switch input:focus+label::before {
    outline: none;
    /* box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25); */
}

.switch input:disabled+label {
    color: #868e96;
    cursor: not-allowed;
}

.switch input:disabled+label::before {
    background-color: #e9ecef;
}

.switch.switch-sm {
    font-size: 0.875rem;
}

.switch.switch-sm input+label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}

.switch.switch-sm input+label::before {
    width: calc(calc(1.9375rem * .8) * 2);
}

.switch.switch-sm input+label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}

.switch.switch-sm input:checked+label::after {
    margin-left: calc(1.9375rem * .8);
}

.switch.switch-lg {
    font-size: 1.25rem;
}

.switch.switch-lg input+label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}

.switch.switch-lg input+label::before {
    width: calc(calc(3rem * .8) * 2);
}

.switch.switch-lg input+label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
}

.switch.switch-lg input:checked+label::after {
    margin-left: calc(3rem * .8);
}

.switch+.switch {
    margin-left: 1rem;
}

.modal-details-close
{
    position: absolute !important;
    right: 1px !important;
    top: 0px !important;
    background: #fff !important;
    opacity: 1 !important;
    color: #bebebe !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    padding: 0 !important;
    font-size: 15px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    outline: none !important;
    align-content: center !important;
    padding-bottom: 1px !important;
    /* border: solid 2px #bdbdbd !important; */
}
.modal-backdrop 
{
    background-color: #222222 !important;
}
.btn
{
    font-weight: 500 !important;
}
#viewDetailsModal .modal-header h5.modal-name
{
    text-transform: capitalize;
}
.main-name-module
{
    font-size: 16px;
}
@media (min-width: 576px)
{
    .modal-dialog 
    {
        max-width: 700px;        
    }    
}
.el-select>.el-input>input::placeholder
{
    color: rgb(59, 59, 59) !important;
}

@media screen and (max-width: 425px)
{
    .wrapper_profile_control>div>strong 
    {        
        font-size: 10px;
    }
    .button-reception
    {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    #notificationWrapper
    {
        width:100% !important;
        right: 0;
    }
    #notificationWrapper:before
    {
        right: 46px;
    }
    .nav-bar.active, .main-app.active 
    {
        padding-left: 12px;
    }
    .side-nav.no-collapse 
    {
        width: 0px;
    }
}
.el-pagination 
{
    padding: 15px 5px !important;
}
.el-table td,
.el-table th 
{
    padding: 8px 0 !important;
}
table.el-table__body,
table.el-table__header 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.el-pagination .el-select .el-input .el-input__inner 
{
    padding-right: 25px;
    border-radius: 3px;
    font-weight: 500;
}
.el-pagination__editor.el-input .el-input__inner 
{
    height: 28px;
    font-weight: 500;
}
.el-date-editor .el-range-input,
.el-date-editor .el-range-separator
{
    font-weight:300;
}
@media screen and (max-width: 600px)
{
    .main-name-module
    {
        display: none;
    }
    .table-responsive-reception 
    {
        display: block;        
        overflow-x: auto;
    }
}

@media screen and (max-width: 770px) 
{
    #scene
    {
        left: 0% !important;
    }
}

.el-card__header
{
    position: relative;
}
.close-card-upreception
{
    position: absolute;
    right: 20px;
    top: 20%;
}


/* PARALLAX */
main {
	width: 100%;
	/* height: 100vh; */
	/* overflow: hidden; */
}

#scene {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	top: 0;
	position: fixed;
	left: 10%;
}

.layer {
	width: 100%;
    height: 100%;
    position: relative
	/* overflow: hidden; */
}

.layer1,
.layer2,
.layer3,
.layer4 {
	background-size: 45%;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
    left: 0;
    background-repeat: no-repeat;
    top: 0;
    margin: 0 auto;
}

.layer2 {
	background-image: url(/src/textures/logos/isotipo-fade.png);
}

.vrc > .el-card__header
{
    padding-left: 1rem !important;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
    padding-right: 1rem !important;
}

.list-reception-view > li > .el-divider--horizontal
{
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
}

.list-reception-view>li
{
    cursor: pointer;
    font-size: 13px;
}

.vrc > .el-card__body
{
    padding-bottom: 1rem !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    padding-top: 1rem !important;
}

.list-reception-view
{
    list-style: none;
}

.el-input--suffix .el-input__inner {
    padding-right: 30px;
    font-weight: 300;
}

.btn-secondary
{
    background: #6c757d !important;
}

.bg-btn {
    color: #fff;
    background-color: #5a6269 !important;
    border-color: #848887 !important;
}

.bg-btn:hover {
    background-color: #858a89 !important;
    border-color: #909292 !important;
}

.bg-btn:focus {
    background-color: rgb(90, 105, 102) !important;
    border-color: rgb(97, 107, 105) !important;
}

.el-popover
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    word-break: normal !important;
}

.swal2-popup .swal2-title
{
    font-size: 1.5em !important;
    font-weight: 500 !important;
}

.swal2-popup .swal2-styled
{
    font-weight: 300 !important;
}

.cont-upt
{
    position: absolute;
    right: 0;
    top: 5px;
    margin: 0 8px;
}

.ptit
{
    font-size: 2.2em;
    letter-spacing: 4px;
    color: #0d7350;
}

.tt
{
    color: #0d7350;
}

.ptit > .titlee
{
    border-bottom: dotted 5px #0d7350;
}

.cardG .el-card__header
{
    padding: 10px 20px;
}

.nfc
{
    position: absolute;
    width: 350px;
    left: 0;
    padding: 35px;
    right: 0;
    margin: 0 auto;
    box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.09);
    top: 170px;
    background: #fff;
    height: 350px;
    border-radius: 50%;
    border: double 10px #0d7350;
    animation: pulse 2.5s infinite;
}
.nfc img
{
    width: 100%;
    filter: grayscale(100%);
    opacity: .4;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.card {
    width: 100%;
    /* ⬅ Size - Small (width: 200px), Medium (width: 225px), Large (width: 250px) */
    overflow: hidden;
    background-color: #FFFFFF;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.card:first-of-type {
    margin-right: 25px;
}

.card:hover {
    margin-top: -10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner {
    height: 100px;
    width: 100%;
    padding-top: 35px;
    background-color: #FAFAFA;
    background-size: cover;
    background-position: center;
}

.card:first-of-type .banner {
    background-image: url("https://pbs.twimg.com/profile_banners/1026096500902903809/1556969620/1500x500");
}

.avatar {
    height: 100px;
    width: 100px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-color: #F1F1F1;
    border-radius: 100%;
}

.card h3,
.card a {
    font-family: 'Poppins',
    sans-serif;
    font-weight: lighter;
    font-weight: 300;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.card h3 {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #565a59;
}

.card a {
    display: block;
    padding: 5px 0px;
    font-size: 14px;
    color: #9E9E9E;
    text-decoration: none;
}

.card a:hover {
    background-color: #FAFAFA;
    color: inherit;
}

.card ul {
    margin-top: 10px;
    padding: 15px 0px;
    background-color: #FAFAFA;
}

.card ul a {
    display: inline;
    margin-right: 10px;
}

.card ul a:last-of-type {
    margin-right: 0px;
}

.card ul a i:hover {
    transform: scale(1.5);
}

.el-picker-panel__shortcut
{
    font-size:11px !important;
    font-weight:500;
}



.bounce-in-bck {
    -webkit-animation: bounce-in-bck 1.1s both;
    animation: bounce-in-bck 1.1s both
}

.bounce-in-top 
{
	-webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both;
}

.text-pop-up-bottom {
    -webkit-animation: text-pop-up-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: text-pop-up-bottom .5s cubic-bezier(.25, .46, .45, .94) both
}

.focus-in-contract-bck {
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both
}

.roll-in-blurred-left {
    -webkit-animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both;
    animation: roll-in-blurred-left .65s cubic-bezier(.23, 1.000, .32, 1.000) both
}

@-webkit-keyframes text-pop-up-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(50px);transform:translateY(50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}@keyframes text-pop-up-bottom{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(50px);transform:translateY(50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}

@-webkit-keyframes roll-in-blurred-left{0%{-webkit-transform:translateX(-1000px) rotate(-720deg);transform:translateX(-1000px) rotate(-720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes roll-in-blurred-left{0%{-webkit-transform:translateX(-1000px) rotate(-720deg);transform:translateX(-1000px) rotate(-720deg);-webkit-filter:blur(50px);filter:blur(50px);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);-webkit-filter:blur(0);filter:blur(0);opacity:1}}

@-webkit-keyframes bounce-in-bck{0%{-webkit-transform:scale(7);transform:scale(7);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:scale(1.5);transform:scale(1.5);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:scale(1.24);transform:scale(1.24);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}89%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:scale(1.04);transform:scale(1.04);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-bck{0%{-webkit-transform:scale(7);transform:scale(7);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:scale(1.5);transform:scale(1.5);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:scale(1.24);transform:scale(1.24);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}89%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:scale(1.04);transform:scale(1.04);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

@-webkit-keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

@-webkit-keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-transform:translateZ(12px);transform:translateZ(12px);-webkit-filter:blur(0);filter:blur(0);opacity:1}}