<template>
    <div class="cont">
        <div class="row mx-0 px-2">
            <div class="col-12 col-lg-12">
                <p class="poppins text-right mb-0 mt-2">                    
                    <el-button onclick="location.href = '/logout'"><i class="fa fa-sign-out"></i> cerrar sesion</el-button>
                </p>
                <p class="poppins-bold ptit mt-3 mb-4">
                    <span class="titlee">
                        <i class="el-icon-data-analysis"></i> Graficas
                    </span>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-2 mb-3">
                <el-card class="box-card cardG">
                    <div slot="header" class="clearfix">
                        <span class="poppins">Día <small>vs</small> Horas Promedio Trabajadas</span>
                        <el-date-picker
                        v-model="range1"
                        type="daterange"
                        align="right"
                        unlink-panels
                        class="mt-1 w-100"
                        range-separator="y"
                        start-placeholder="Empieza"
                        end-placeholder="Termina"
                        :picker-options="pickerOptions">
                        </el-date-picker>
                    </div>
                    <div class="cont-g" style="width:100%; height:auto">
                        <canvas v-if="dayJobTime.days" id="myChart1"></canvas>
                        <h4 v-else class="text-center">No hay datos disponibles :(</h4>
                    </div>
                </el-card>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-2 mb-3">
                <el-card class="box-card cardG">
                    <div slot="header" class="clearfix">
                        <span class="poppins">Trabajadores <small>vs</small> Horas Trabajadas</span>
                        <el-date-picker
                        v-model="range2"
                        type="daterange"
                        align="right"
                        unlink-panels
                        class="mt-1 w-100"
                        range-separator="y"
                        start-placeholder="Empieza"
                        end-placeholder="Termina"
                        :picker-options="pickerOptions">
                        </el-date-picker>
                    </div>
                    <div class="cont-g" style="width:100%; height:auto">
                        <canvas v-if="JobTimeAllPersons.persons" id="myChart2"></canvas>
                        <h4 v-else class="text-center">No hay datos disponibles :(</h4>
                    </div>
                </el-card>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-2 mb-3">
                <el-card class="box-card cardG">
                    <div slot="header" class="clearfix">
                        <span class="poppins">Trabajadores <small>vs</small> llegadas tarde</span>
                        <el-date-picker
                        v-model="range3"
                        type="daterange"
                        align="right"
                        unlink-panels
                        class="mt-1 w-100"
                        range-separator="y"
                        start-placeholder="Empieza"
                        end-placeholder="Termina"
                        :picker-options="pickerOptions">
                        </el-date-picker>
                    </div>
                    <div class="cont-g" style="width:100%; height:auto">
                        <canvas v-if="lateInsAllPersons.persons" id="myChart3"></canvas>
                        <h4 v-else class="text-center">No hay datos disponibles :(</h4>
                    </div>
                </el-card>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-2 mb-3">
                <el-card class="box-card cardG">
                    <div slot="header" class="clearfix">
                        <span class="poppins">Trabajadores <small>vs</small> llegadas a tiempo</span>
                        <el-date-picker
                        v-model="range4"
                        type="daterange"
                        align="right"
                        unlink-panels
                        class="mt-1 w-100"
                        range-separator="y"
                        start-placeholder="Empieza"
                        end-placeholder="Termina"
                        :picker-options="pickerOptions">
                        </el-date-picker>
                    </div>
                    <div class="cont-g" style="width:100%; height:auto">
                        <canvas v-if="toTimeInsAllPersons.persons" id="myChart4"></canvas>
                        <h4 v-else class="text-center">No hay datos disponibles :(</h4>
                    </div>
                </el-card>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data()
    {
        return{
            pickerOptions: {
                shortcuts: [{
                    text: 'Ultima semana',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                    picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Ultimo mes',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                    picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Ultimos 3 meses',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                    picker.$emit('pick', [start, end]);
                    }
                }]
            },
            range1: '',
            range2: '',
            range3: '',
            range4: '',
            persons: [],
            lateInsAllPersons: {
                persons: [],
                lateIns: []
            },
            toTimeInsAllPersons: {
                persons: [],
                toTimeIns: []
            },
            JobTimeAllPersons: {
                persons: [],
                jobTime: []
            },
            dayJobTime: {
                days: [],
                jobTime: []
            }
        }
    },
    created()
    {
        this.getPersons()
    },
    watch: {
        "range1": function(newVal) {
            if(newVal && typeof newVal == "object") {
                newVal[0].setHours(0)
                newVal[0].setMinutes(0)
                newVal[0].setSeconds(0)
                newVal[1].setHours(23)
                newVal[1].setMinutes(59)
                newVal[1].setSeconds(59)
                this.getJobHoursGeneral(newVal[0], newVal[1])
            }
        },
        "range2": function(newVal) {
            if(newVal && typeof newVal == "object") {
                newVal[0].setHours(0)
                newVal[0].setMinutes(0)
                newVal[0].setSeconds(0)
                newVal[1].setHours(23)
                newVal[1].setMinutes(59)
                newVal[1].setSeconds(59)
                this.getJobTimeGeneral(newVal[0], newVal[1])
            }
        },
        "range3": function(newVal) {
            if(newVal && typeof newVal == "object") {
                newVal[0].setHours(0)
                newVal[0].setMinutes(0)
                newVal[0].setSeconds(0)
                newVal[1].setHours(23)
                newVal[1].setMinutes(59)
                newVal[1].setSeconds(59)
                this.getLateInsGeneral(newVal[0], newVal[1])
            }
        },
        "range4": function(newVal) {
            if(newVal && typeof newVal == "object") {
                newVal[0].setHours(0)
                newVal[0].setMinutes(0)
                newVal[0].setSeconds(0)
                newVal[1].setHours(23)
                newVal[1].setMinutes(59)
                newVal[1].setSeconds(59)
                this.getToTimeInsGeneral(newVal[0], newVal[1])
            }
        }
    },
    methods:
    {
        chart(n, la, d, t, l)
        {
            var ctx = document.getElementById('myChart'+n);
            var myChart = new Chart(ctx, {
                type: t,
                data: {
                    labels: la,
                    datasets: [{
                        label: l,
                        data: d,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(75, 192, 192, 0.4)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(75, 192, 192, 0.8)',
                            'rgba(75, 192, 192, 0.9)',
                            'rgba(75, 192, 192, 1)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(75, 192, 192, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            // scaleLabel: {
                            //     display: true,
                            //     labelString: la
                            // }
                        }]
                    }
                }
            });
        },
        getPersons() {
            axios.post("/person/getPersons")
            .then(resp => {
                this.persons = resp.data.data
                this.getJobHoursGeneral()
                this.getJobTimeGeneral()
                this.getLateInsGeneral()
                this.getToTimeInsGeneral()
            })
        },
        getLateInsGeneral(start = null, end = null) {
            this.lateInsAllPersons.persons = []
            this.lateInsAllPersons.lateIns = []
            axios.post("/movement/getLateInsGeneralProm", {
                start,
                end
            })
            .then(resp => {
                for (let index = 0; index < resp.data.data.length; index++) {
                    for (let ind = 0; ind < this.persons.length; ind++) {
                        if(this.persons[ind]._id == resp.data.data[index].person) {
                            let name = this.persons[ind].name.first + " " + this.persons[ind].name.last
                            // console.log(name)
                            this.lateInsAllPersons.persons[index] = name;
                            this.lateInsAllPersons.lateIns[index] = (resp.data.data[index].lateInsCount);
                            break;
                        }
                    }
                }
                this.chart(3, this.lateInsAllPersons.persons, this.lateInsAllPersons.lateIns, 'bar', 'Llegadas tarde')
            })
            .catch(err => console.error(err))
        },
        getJobTimeGeneral(start = null, end = null) {
            this.JobTimeAllPersons.persons = []
            this.JobTimeAllPersons.jobTime = []
            axios.post("/movement/getJobTimeProm", {
                start,
                end
            })
            .then(resp => {
                for (let index = 0; index < resp.data.data.length; index++) {
                    for (let ind = 0; ind < this.persons.length; ind++) {
                        if(this.persons[ind]._id == resp.data.data[index].person) {
                            let name = this.persons[ind].name.first + " " + this.persons[ind].name.last
                            this.JobTimeAllPersons.persons.push(name)
                            this.JobTimeAllPersons.jobTime.push(resp.data.data[index].prom)
                            break;
                        }
                    }
                }
                this.chart(2, this.JobTimeAllPersons.persons, this.JobTimeAllPersons.jobTime, 'bar', 'Horas trabajadas')
            })
            .catch(err => console.error(err))
        },
        getToTimeInsGeneral(start = null, end = null) {
            this.toTimeInsAllPersons.persons = []
            this.toTimeInsAllPersons.jobTime = []
            axios.post("/movement/getToTimeInsGeneralProm", {
                start,
                end
            })
            .then(resp => {
                for (let index = 0; index < resp.data.data.length; index++) {
                    for (let ind = 0; ind < this.persons.length; ind++) {
                        if(this.persons[ind]._id == resp.data.data[index].person) {
                            let name = this.persons[ind].name.first + " " + this.persons[ind].name.last
                            this.toTimeInsAllPersons.persons.push(name)
                            this.toTimeInsAllPersons.jobTime.push(resp.data.data[index].toTimeInsCount)
                            break;
                        }
                    }
                }
                this.chart(4, this.toTimeInsAllPersons.persons, this.toTimeInsAllPersons.jobTime, 'bar', 'llegadas a tiempo')
            })
            .catch(err => console.error(err))
        },
        getJobHoursGeneral(start = null, end = null) {
            this.dayJobTime.days = []
            this.dayJobTime.jobTime = []
            axios.post("/movement/getGeneralJobHoursProm", {
                start: start,
                end: end
            })
            .then(resp => {
                for (let index = 0; index < resp.data.data.length; index++) {
                    let thedays = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sábado", "Domingo"]
                    this.dayJobTime.days[index] = thedays[new Date(resp.data.data[index].day).getDay()]
                    this.dayJobTime.jobTime[index] = (resp.data.data[index].prom)
                }
                this.chart(1, this.dayJobTime.days, this.dayJobTime.jobTime, 'line', 'Horas')
            })
            // .catch(err => console.error(err))
        }
    }
}
</script>

