<template>
    <div class="container">
        <img src="/images/uc.png" style="position:fixed;height:100vh;right:-265px;filter: grayscale(100%);
    opacity: .5;" alt="">
        <!-- <div class="Elipse-1 animated pulse"></div>
        <div class="Elipse-2 animated pulse"></div> -->
        <div class="row mx-0 poppins">
            <div class="col-12 col-lg-12 text-center col-md-12 align-items-center justify-content-center position-relative d-flex" style="height:100vh;">
                <form method="POST" action="/login" class="col-lg-5 col-md-6 col-sm-12 card_wrapper bg-white px-5 py-5 animated fadeIn">
                   <div class="errors">
                        <ul class="error-handler mb-0">
                            <li class="text-left font-weight-bold pb-1"><i class="el-icon-warning"></i> Info</li>                        
                            <li class="text-left error-textt">lorem insup door sit amet</li>
                        </ul>
                   </div>
                    <p class="mb-0">
                        <p class="poppins mb-2 text-center">                            
                            <div class="px-4">
                                <h2 class="titlee poppins-bold text-uppercase">Control<strong class="two text-darkd">App</strong></h2>
                            </div>
                            <!-- <p class="mb-0 text-center" style="letter-spacing: 5px;font-size: 15px;color:#b0b9b7;">Juegatela por la U</p> -->
                        </p>
                        <div class="input-wrapper position-relative mb-3">
                            <img src="/images/icons/user/icons8-user.png" srcset="/images/icons/user/icons8-user@2x.png 2x,/images/icons/user/icons8-user@3x.png 3x" style="filter: grayscale(80%);" class="icons8-user">
                            <input type="text" v-model="inputUser" class="form-control-login" placeholder="Ingrese Usuario">                            
                        </div>
                        <div class="input-wrapper position-relative mb-1">
                            <img src="/images/icons/key/icons8-password.png" srcset="/images/icons/key/icons8-password@2x.png 2x,/images/icons/key/icons8-password@3x.png 3x" style="filter: grayscale(80%);" class="icons8-user">
                            <input type="password" v-model="inputPass" class="form-control-login" placeholder="Ingrese Contraseña">                            
                        </div>       
                        <p class="text-left mt-2">
                            <!-- <el-checkbox v-model="remem">Recordarme</el-checkbox> -->
                        </p>                 
                        <!-- <div class="pt-2 pl-1">
                            <div class="custom-control text-left custom-checkbox" style="transform:scale(.9);position: relative;left: -22px;">
                                <input type="checkbox" v-model="admin" class="custom-control-input" id="adminU">
                                <label class="custom-control-label poppins" for="adminU" style="color:#747779;">Entrar como administrador</label>
                            </div>
                        </div> -->
                    </p>                    
                    <el-tooltip content="Ingresar 👌" placement="bottom" effect="dark">                        
                        <el-button v-bind:disabled="(inputUser == '') || (inputPass == '') || button.disabled" type="success" class="bg-btn btn-login poppins" :loading="button.loading" @click="login()"> Iniciar</el-button>
                    </el-tooltip>
                    <p class="mb-0 poppins text-center copyright-login"><i class="fa fa-copyright" style="font-size: 1.4em;top: 1px;position: relative;"></i> Copyright <strong class="poppins-bold">A&Y</strong> | Todos los derechos reservados</p>
                </form>
            </div>            
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            inputPass: 'Cosorio83',
            inputUser: 'C.OSORIO',
            admin: false,
            remem: false,
            token: $('meta[name=csrf-token]').attr('content'),
            button: {loading: false, disabled: false}
        }
    },
    mounted()
    {        
        // alert(this.token)
    },
    methods:
    {
        login()
        {
            this.button.loading = true;
            this.button.disabled = true;
            var data = {nickname: this.inputUser, password: this.inputPass, _token: this.token}                        
            axios.post('/person/validate', data).then(resp => {
                console.log(resp)
                if(resp.data.status == 'success')
                {
                    $('.error-handler > .error-textt').text(resp.data.response)
                    $('.error-handler').css({top:'0px'})                      
                    location.href = '/';
                    // console.log('yes')
                }
                else
                {
                    $('.error-handler > .error-textt').text(resp.data.response)
                    $('.error-handler').css({top:'0px'})  
                    this.button.loading = false;
                    this.button.disabled = false;          
                }                                      
            })                           
        }
    }
}
</script>