<template>
     <div class="cont">
        <div class="row mx-0 px-2">
            <div class="col-12 col-lg-12 mb-0">
                <p class="poppins mb-0 text-right mt-2">                    
                    <el-button onclick="location.href = '/logout'"><i class="fa fa-sign-out"></i> cerrar sesion</el-button>
                </p>
                <p class="poppins-bold ptit mb-4 mt-3">
                    <span class="titlee">
                        <i class="el-icon-user"></i> Trabajadores
                    </span>                    
                </p>
            </div>
            <div class="col-12 col-lg-12 mb-2">
                <h5 class="poppins-light text-white"><i class="el-icon-data-analysis"></i> Ver graficas 
                    <el-tooltip class="item" effect="dark" content="Ir" placement="top">
                        <el-button onclick="location.href = '/person/graph'" icon="el-icon-arrow-right" circle></el-button>
                    </el-tooltip>
                </h5>                
            </div>
            <h3 class="poppins text-center w-100" v-if="persons.length < 1">No hay Trabajadores registrados</h3>
            <div v-else v-for="(person, index) in persons" :key="index" class="col-lg-4 col-md-6 col-sm-12 px-2 mb-3 text-center d-flex align-items-center justify-content-center">
                <div class="card shadow-lg mx-0" style="display:block;">
                    <div class="banner">
                        <div class="avatar" :style="'background-image: url('+person.pic+')'"></div>
                    </div>
                    <h3 class="poppins-bold">{{person.name.first}} {{person.name.last}}</h3>
                    <p class="mb-0"><small class="poppins"><i class="el-icon-bank-card"></i>     {{person.code}}</small></p>
                    <p class="mb-2"><small class="poppins">{{person.rol}}</small></p> 
                    <el-tag v-if="person.status" type="success" class="mb-2 poppins">En la oficina</el-tag>
                    <el-tag v-else type="danger" class="mb-2 poppins">Por fuera</el-tag>                       
                    <div class="d-flex align-items-center justify-content-center">
                        <a v-if="person.phone == null" href="#!">Sin Número :(</a>                    
                        <a class="mx-2" v-else :href="'tel:'+person.phone">📱 {{person.phone}}</a> 
                        <a class="mx-2" v-if="person.phone != null" :href="'https://wa.me/+57 '+person.phone+'/?text='+person.name.first"><i class="fa fa-whatsapp"></i> Enviar mensaje</a>  
                    </div>                                        
                    <el-divider content-position="left">Entrada - salida</el-divider>                                      
                    <div class="row mx-0">
                        <div class="col-lg-12 d-flex align-items-center justify-content-center poppins-light">
                            <div>
                                <i class="el-icon-time"></i> {{person.in}}
                            </div>
                            <el-divider v-if="person.out != null" direction="vertical"></el-divider>
                            <div v-if="person.out != null">
                                <i class="el-icon-time"></i> {{person.out}}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import io from 'socket.io-client';
export default {
    data(){
        return{
           persons: [],
           socket: io('localhost:7000'),
        }
    },
    mounted()
    {
        this.getActualStatus()
        this.socket.on('outTime', (data) => {
            if(data.code) {
                for (let index = 0; index < this.persons.length; index++) {
                    if(this.persons[index].code == data.code) {
                        this.persons[index].status = false
                        let a = new Date()
                        // a.setHours(a.getHours() - 5)
                        this.persons[index].out = (a.getHours() < 10 ? '0'+a.getHours() : a.getHours())+':'+(a.getMinutes() < 10 ? '0'+a.getMinutes() : a.getMinutes())
                    }
                }
            }
        })
        this.socket.on('inTime', (data) => {
            if(data.code) {
                for (let index = 0; index < this.persons.length; index++) {
                    if(this.persons[index].code == data.code) {
                        this.persons[index].status = true
                        let a = new Date()
                        // a.setHours(a.getHours() - 5)
                        this.persons[index].in = (a.getHours() < 10 ? '0'+a.getHours() : a.getHours())+':'+(a.getMinutes() < 10 ? '0'+a.getMinutes() : a.getMinutes())
                        this.persons[index].out = null
                    }
                }
            }
        })
    },
    methods:
    {
        getActualStatus() {
            axios.post('/person/getActualStatus')
            .then(resp => {
                if(resp.data.status == 'success'){
                    this.persons = resp.data.data
                }
            })
        }
    }
}
</script>

